<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Lamoda</title>

	<link rel='stylesheet' href='/stylesheets/style3.css' />
	<link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

	<script src="/jquery/dist/jquery.min.js"></script>
</head>
<body>

<div class="jumbotron">
	<div class="container">
		<h1>Neuen Artikel erstellen</h1>
		<a href="/"><< Zurück zur Übersicht</a>
	</div>
</div>

<div class="container">
	<form id="createForm" action="/api/article/add" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="createName">Name</label>
			<input type="text" name="name" id="createName" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="createPicture">Foto</label>
			<input type="file" name="picture" id="createPicture" class="form-control" accept="image/*" required>
		</div>
		<button type="submit" class="btn btn-default">Artikel anlegen</button>
	</form>
</div>

<script src="/javascripts/create.js"></script>

</body>
</html>
